.instructorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}

.showMoreButton {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    align-self: center;
  }
  
  .showMoreButton:hover {
    background-color: #0056b3;
  }
  
  /* Media Query for Small Screens */
  @media (max-width: 768px) {
    .instructorContainer {
      gap: 0.5rem;
    }
  
    .showMoreButton {
      font-size: 0.9rem;
      padding: 8px 16px;
    }
  }