.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    background-color: rgb(222, 220, 220);

}

.calendarWrapper {
    width: 75%;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
    .calendarWrapper {
        width: 100%;
    }
  }